@import url(./assets/fonts/neue/stylesheet.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NeueHaasUnica';
}
p,
h1,
h2,
h3,
div {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* final form styles start */

.form-layout.hide-layout.final {
  font-family: 'NeueHaasUnica';
}
.form {
  overflow-y: scroll;
}
.form-layout:before {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  content: '';
}
.form-layout.final .form {
  z-index: 10000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/banner-final.png');
  background-size: cover;
  border-radius: 0;
  display: inline-block;
  text-align: center;
  color: black;
  vertical-align: middle;
  padding: 2%;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
.form-layout.final .form h1 {
  font-size: 2.5vw;
  text-align: left;
  color: white;
  margin-bottom: 1%;
  margin-top: 0;
  font-weight: 400;
}
#handleResult {
  margin-left: 11vw;
}
.form-layout.final .form h2 {
  font-size: 1.7vw;
  font-weight: 400;
  text-align: left;
  color: white;
  margin-left: 11vw;
  margin-top: 0;
  width: 80%;
}
/* .form-layout .form h2 {
    margin: 0;
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
} */
.rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  margin-left: 11vw;
}

.rating .points {
  width: auto;
  font-size: 1.4vw;
  color: white;
  padding: 1vw 2vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 1%;
  border-radius: 5px;
}
.rating .points span {
  margin-left: 0.5vw;
}
.rating .points img {
  height: 3vw;
  width: auto;
  margin-right: 1vw;
}
.point-wrapper {
  font-size: 1.5vw;
  text-align: left;
  margin: 0 0 0.3vw 11vw;
  padding: 0;
  color: white;
  font-weight: 400;
  width: 70%;
  display: flex;
}
/* .point-wrapper span {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1%;
    margin-top: 0;
} */
#goodP {
  margin-left: 11vw;
  text-align: -webkit-left;
  text-align: left;
  font-size: 1.1rem;
}
.form-layout.final .actions {
  text-align: left !important;
  width: 50%;
  margin-left: 11vw;
}
.form-layout.final .actions .already.button {
  padding: 2%;
  display: inline-block;
  position: inherit;
  margin: 0;
  width: unset;
  font-size: 1.3vw;
  border-radius: 5px;
}
.result-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#next-game {
  background-color: #d02430;
  margin-top: 3%;
  margin-right: 1%;
}
#shareB {
  color: white;
  border: 1px solid white;
  background-color: #00000000;
  margin-top: 3%;
  margin-right: 3%;
}
.form-layout .form .button {
  background: #000000;
  color: white;
  padding: 2% 8%;
  margin-top: 3%;
  display: inline-block;
  cursor: pointer;
  border-bottom: black;
  margin-right: 7%;
  /* border-radius: 5px; */
  text-align: center;
  line-height: normal;
}
.form-layout .form a {
  text-decoration: none;
}
#agreement {
  font-size: 1vw;
  width: 18vw;
  line-height: 1.3vw;
  color: white;
  position: absolute;
  display: inline;
  margin-top: 1.5%;
  text-decoration: none;
}
/* final form styles end  */
/* @media screen and (max-width: 1000px) {
    .bannerContainer.modalContainer .start-img{
        top: 53vh;
        left: 20vw;
        position: absolute;
        height: 55vw;
        width: auto;
    }
    
} */

@media (max-width: 770px) and (orientation: portrait),
  (max-height: 630px) and (orientation: landscape) {
  /* final form styles start */
  #handleResult {
    margin-left: 3vw;
  }
  .form-layout.final .form h1 {
    font-size: 4.5vw;
    margin-bottom: 3%;
  }
  .point-wrapper {
    font-size: 3vw !important;
    line-height: 4.5vw;
    margin-left: 3vw;
    width: 90%;
    line-height: 4.8vw;
  }
  .rating {
    flex-direction: column;
    width: 68%;
  }
  .rating .points {
    font-size: 3vw;
    padding: 2%;
    text-align: center;
    margin-bottom: 3%;
    margin-left: 20vw;
  }
  .rating .points img {
    height: 7vw;
  }
  .point-wrapper span {
    font-size: 3.5vw !important;
  }
  #badP {
    text-align: center !important;
  }
  .form-layout.final .actions {
    margin: 4% auto 3% auto;
    width: 100%;
  }
  .form-layout.final .actions .already.button {
    font-size: 3vw;
    margin-top: 5%;
    width: 78%;
    padding: 2vw;
  }
  .form-layout.final .form h2 {
    font-size: 3.5vw !important;
    line-height: 4.8vw;
    margin-left: 3vw;
    width: 90%;
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1700px) {
  html {
    font-size: 20px;
  }
}

@font-face {
  font-family: 'NeueHaasUnica';
  src: url('./assets/fonts/NeueHaasUnica/NeueHaasUnica-Regular.eot');
  src: url('./assets/fonts/NeueHaasUnica/NeueHaasUnica-Regular.woff') format('woff'),
    url('./assets/fonts/NeueHaasUnica/NeueHaasUnica-Regular.ttf') format('truetype');
  descent-override: 50%;
}

#ferretVideoWaitlay {
  position: absolute;
  z-index: 111111;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
}

lds-roller-wrapper {
  text-align: center;
  color: white;
  font-size: 5vw;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  #ferretVideoWaitlay h1 {
    display: none;
  }
}
